<ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
<div style="margin: 20px;">
    <h2>Welcome: {{customer.first_NAME}}</h2>

    <button mat-raised-button (click)="viewProfile()">View/Update Profile</button><br><br>

    <h3><strong>Cars:</strong></h3>

    <table class="styled-table">
        <thead class="thead-light">
            <tr class="header" style="background-color: #ffffff;">
                <th scope="col">VIN</th>
                <th scope="col">Car</th>
                <th scope="col">Mileage</th>
                <th scope="col">Last Scheduled Maintenance</th>
                <th scope="col">Year</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customerCar of customerCars" class="table-row-item">
                <td>{{customerCar.vin}}</td>
                <td>{{customerCar.car_ID==1?'Honda':(customerCar.car_ID==2?'Nissan':'Toyota')}}</td>
                <td>{{customerCar.mileage}}</td>
                <td>{{customerCar.last_SCHEDULED_MAINTENANCE==1?'A':(customerCar.last_SCHEDULED_MAINTENANCE==2?'B':'C')}}</td>
                <td>{{customerCar.year}}</td>
                <td>
                    <button mat-raised-button (click)="deleteCustomerCar(customerCar)">Delete</button>
                    <button mat-raised-button (click)="createNewSchedule(customerCar)" style="margin-left: 5px;">Create new schedule</button><br><br>
                </td>
            </tr>
        </tbody>
    </table>
    <button mat-raised-button (click)="addCustomerCar()">Add Car</button><br><br>

    <h3><strong>Scheduled Services:</strong></h3>
    <table class="styled-table">
        <thead class="thead-light">
            <tr class="header" style="background-color: #ffffff;">
                <th scope="col">Service Name</th>
                <th scope="col">VIN</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customerSchedule of customerSchedules" class="table-row-item">
                <td>{{customerSchedule.service_NAME}}</td>
                <td>{{customerSchedule.VIN}}</td>
                <td>{{customerSchedule.START_TIME}}</td>
                <td>{{customerSchedule.END_TIME}}</td>
            </tr>
        </tbody>
    </table>

    <h3><strong>Invoices:</strong></h3>
    <table class="styled-table">
        <thead class="thead-light">
            <tr class="header" style="background-color: #ffffff;">
                <th scope="col">Invoice ID</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Invoice Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customerInvoice of invoices" class="table-row-item">
                <td>{{customerInvoice.invoice_ID}}</td>
                <td>{{customerInvoice.total_COST}}</td>
                <td>{{customerInvoice.invoice_STATUS==1?'Paid':'Unpaid'}}</td>
                <td><button mat-raised-button (click)="updateInvoice(customerInvoice)" *ngIf="customerInvoice.invoice_STATUS==0">Pay</button></td>
            </tr>
        </tbody>
    </table>
</div>