<ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
<div style="margin: 20px;">
    <h2><strong>Create new service schedule</strong></h2>

    <h3><strong>Cart</strong></h3>
    <table class="styled-table">
        <thead class="thead-light">
            <tr class="header" style="background-color: #ffffff;">
                <th scope="col">Service ID</th>
                <th scope="col">Service Name</th>
                <th scope="col">Service Time (hrs)</th>
                <th scope="col">Service Price ($)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let service of cartService" class="table-row-item">
                <td>{{service.id}}</td>
                <td>{{service.service_NAME}}</td>
                <td>{{getServiceTime(service)}}</td>
                <td>{{getServicePrice(service)}}</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>{{getTotalTime()}}</strong></td>
                <td><strong>{{getTotalPrice()}}</strong></td>
            </tr>
        </tbody>
    </table>
    <div>
        <mat-label>Preferred Date</mat-label><br>
        <mat-form-field appearance="fill">
            <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" #PreferredDate="ngModel"
                [(ngModel)]="preferredDate" name="PreferredDate" required
                [class.is-invalid]="PreferredDate.invalid && (PreferredDate.touched || PreferredDate.dirty)"
                (ngModelChange)="CheckDate()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="PreferredDate.invalid && (PreferredDate.touched || PreferredDate.dirty)">
                Enter a valid date
            </mat-error>
        </mat-form-field>

    </div>
    <div>
        <mat-label>Preferred Start Time</mat-label><br>
        <mat-form-field appearance="outline">
            <select matNativeControl [(ngModel)]="preferredTime" name="time">
                <option value="" selected></option>
                <option *ngFor="let t of time" [value]="t">
                    {{t + ":00"}}
                </option>
            </select>
        </mat-form-field>
    </div>
    <br>
    <button mat-raised-button (click)="checkout()" *ngIf="cartService.length>0">Checkout</button>

    <br><br>
    <h3><strong>Repair Services</strong></h3>
    <table class="styled-table">
        <thead class="thead-light">
            <tr class="header" style="background-color: #ffffff;">
                <th scope="col">Service ID</th>
                <th scope="col">Service Name</th>
                <th scope="col">Service Time (hrs)</th>
                <th scope="col">Service Price ($)</th>
                <th scope="col">Add to cart</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let service of onlyRepairServices" class="table-row-item">
                <td>{{service.id}}</td>
                <td>{{service.service_NAME}}</td>
                <td>{{getServiceTime(service)}}</td>
                <td>{{getServicePrice(service)}}</td>
                <td>
                    <button mat-raised-button (click)="addToCart(service)" *ngIf="!isServiceInCart(service)"
                        [disabled]="getServiceTime(service) > remainingTime">Add to cart</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div style="margin-bottom: 50px;">
        <h3><strong>Maintenance Service</strong></h3>
        <h4>Your next scheduled maintenance is: <strong>Schedule {{this.nextScheduledService}}</strong> <button
                mat-raised-button (click)="addMaintenanceServicesToCart()" *ngIf="!maintenanceServiceAdded"
                style="margin-left: 10px;">Add to cart</button></h4>
    </div>
    <br><br>
</div>